.main-container{
    background-image: url(https://bud.co.uk/app/uploads/2022/10/Bud_005-1920x568.jpg);
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    max-width: unset !important;
    height: 90vh; 
    background-attachment: fixed;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: #00000066;
}
h1{
    font-size: 80px !important;
}
h4{
    font-size: 30px !important;
}
img{
    border-radius: 0% !important;
}
.img-primary{
    max-width: 160px;
    height: 100px;
    margin-top: 50px;
    padding: 20px;
}

.container-fluid{
    max-width: 100% !important;
    height: 400px;
    text-align: center;
    position: relative !important;
    left: 0px !important;
    margin: 0 !important;
    padding: 0px !important;
}
.span span{
    width: 50px !important;
    height: 2px !important;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-left: 35px;
    
}
.btn-success{
    border: none !important;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 23%);
    background-color: #1c8820 !important;
    max-width: 200px !important;
    margin-top: 10px !important;
}
.btn-white{
    background-color: white;
    border: none !important;
    margin-top: 20px !important;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 23%);
}
.btn-white:hover{
    background-color: #1c8820 !important;
    color: white !important;
    
}
.img-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width:500px) {
    .main-container{
        background-image: url(https://cropiqtech.com/sites/default/files/corporate.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;

    }
    .item{
        padding: 0px !important;
        margin: 0px !important;
        left: 0px;
    }
    .item h1{
        
        margin-bottom: 40px !important;
    }
    .item h4{
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }
    .item p{
        font-size: 20px !important;

    }
    .img-mobile img{
        margin-top: 100px !important;
        padding: 10px !important;
        width: 300px !important;
        float: unset !important;
    }
    .span span{
        margin-left: 15px;
    }
    .fixed-container{
        justify-content: center;
    }
    .tiles h3{
        text-align: center !important;
        padding: 0px !important;

    }
    .container-fluid{
        width: 100%;
        margin-bottom: 30px;
    }
}
@keyframes img-animation{
    from{
        bottom: -150px;
        opacity: 0;
    }
    to{
        bottom: 0px;
        opacity: 100%;
    }
}

img{
    position: relative;
    animation-name: img-animation;
    animation-duration: 2s;
}
.item{
    position: relative;
    animation-name: img-animation;
    animation-duration: 4s;
}
