*{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif !important;
}
:root{
    --primaryColor: rgb(0, 0, 135);
    --secondaryColor: #1c8820;
}
body{
    overflow-x: hidden;
}

.section1, .section2{
    box-sizing: border-box !important;
    background: white;
}

/*********************** SECTION-1 ***********************/

.bgImgContainer{
    background: url("https://bud.co.uk/app/uploads/2021/03/Bud-Apprenticeship-Management-Software-Home-1920x568.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 60px;
    height: 85vh;
    width: 100vw;
    display: flex;
    /* z-index: 0; */
}

.bgImgContainer::before{
    width: 100%;
    height: 85vh;
    margin-top: 60px;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2b2b2b4f;
    /* z-index: -1; */
}
.sec1Headings{
    width: 80%;
    margin: auto;
    z-index: 1;
    animation: homePageLoad 1.5s ease-in-out 1;
}

@keyframes homePageLoad {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.sec1Headings h1{
    font-size: 70px;
    width: 80%;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 5px rgb(59, 59, 59);
}
.sec1Headings h3{
    font-size: 30px;
    color: white;
    padding: 10px 0;
}
.sec1Headings button{
    padding: 10px 40px;
    background: white;
    font-weight: 600;
    font-size: 30px;
    border-radius: 3px !important;
    /* box-shadow: 3px 3px 4px 0px #9e9e9e; */
    border: none;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}
.sec1Headings button:hover{
    background-color: var(--primaryColor);
    color: white;
}

.sec1Info{
    flex: 0.5;
}
.sec1Info h3{
    color: rgb(91, 91, 91);
    font-weight: 300;
}

.sec1Img{
    flex: 0.4;
    margin-left: 30px;
    position: relative;
    top: -130px;
    animation: toLeftImg 1.5s ease-in-out 1;

}

@keyframes toLeftImg {
    0%{
        opacity: 0;
        transform: translateX(60px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


.watchBtn{
    border-radius: 3px ;
    background: var(--primaryColor);
    box-shadow: 3px 3px 4px 0px #bebebe;
    padding: 7px 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: none;
}
.watchBtn:hover{
    background: var(--secondaryColor);
    
}
.sec1AccessImg{
    flex: 0.5;
    width: 500px;
    animation: scaleImg 1.5s ease-in-out 1;

}

@keyframes scaleImg {
    0%{
        opacity: 0;
        transform: scale(1.3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.sec1AccessContent{
    flex: 0.5;
}
.sec1AccessContent h2{
    font-size: 45px;
    color: rgb(72, 72, 72);
}
.browseContent{
    background: var(--secondaryColor);
}
.browseContent:hover{
    background-color: var(--primaryColor);
}

.mdQuote,.apManage{
    background-color: #f6f6f6;
}
.quoteImg{
    flex: 0.35;
    height: fit-content;
    max-width: 80px;
    margin: auto;
    margin-top: 0;
}

.quoteContent{
    flex: 0.65;
}
.quoteContent h4{
    font-size: 18px;
    font-weight: bold;
    color: var(--primaryColor);
}
.quoteContent p{
    font-size: 20px;
    font-family: 'Catamaran', sans-serif !important;    
}

.division{
    width: 150px;
    height: 3px;
    background: var(--primaryColor);
    margin-right: 20px;
    margin-top: 5px;
}

.discoverSavings img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.detailsContent h2{
    font-weight: 600;
    font-size: 45px;
}
.detailsContent p{
    font-size: 17px;
}
.apManage h2{
    font-weight: 600;
    color: rgb(90, 90, 90);
}
.apManage button{
    width: 250px;
    margin: auto;
}

.csHeadings{
    width: 70%;
    margin: auto;
}

.caseStudies .card{
    border: 0px !important;
    text-align: left !important;
}

.caseStudies .card h5{
    font-weight: 600;
    font-size: 23px;
    line-height: 1.3;
}

.caseStudies .readBtn{
    font-size: 17px;
    padding-left: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primaryColor);
}

.whosItFor .nav-tabs{
    justify-content: center;
}

.whosItFor .nav-tabs button{
    border: none;
    margin: 0 15px;
    font-weight: 600;
    color: gray;
}

.whosItFor .nav-tabs .active{
    color: var(--primaryColor) !important;
    
}

.whosItFor .tab-content .active{
    border-bottom: none !important;
}

.faqs .accordion{
    width: 60%;
}

.faqs .accordion-item{
    margin: 10px 0;
    border-radius: 0px !important;
}
.faqs .accordion-button{
    padding: 30px 20px;
    box-shadow: 1px 1px 4px rgb(197, 197, 197) !important;
    border-radius: 0px !important;
    color: var(--primaryColor);
    font-weight: 400;
    box-shadow: 1px 1px 4px rgb(197, 197, 197) !important; 
    background: linear-gradient(180deg, var(--primaryColor), #5c6bc0);
}
.accordion-button:not(.collapsed){
    color: white !important;
    
}
.accordion-button:not(.collapsed)::after{
    filter: invert(1);
}
.faqs .collapsed {
    background: none;
    color: var(--primaryColor);
}

.faqs .accordion-button:focus{
    border: 0px !important;
     box-shadow: 1px 1px 4px rgb(197, 197, 197) !important; 
    box-shadow: none !important;
}

.faqsHeading{
    color: var(--primaryColor);
    font-weight: 600;
    border-top: 2px solid var(--primaryColor);
}




@media screen and (max-width: 500px) {
    
    .navDemoBtn, .navLoginBtn{
        display: none !important;
    }
    .bgImgContainer, .bgImgContainer::before{
        height: 70vh;
    }
    .sec1Headings h1{
        font-size: 40px;
        width: 100%;
    }
    .sec1Headings h3{
        font-size: 20px;
    }
    .sec1Headings button{
        padding: 10px 20px;
        font-size: 20px;
    }
    .section2 .mainSec1Info{
        flex-direction: column-reverse;
    }
    .section2 .sec1Img{
        position: unset;
        margin: 20px;
    }
    .section2 .sec1Info{
        padding: 3rem;
    }
    .mainSec1AccessImg{
        flex-direction: column;
        padding: 30px 0;
    }
    .sec1AccessImg{
        width: 100%;
    }
    .mdQuote{
        margin: 20px 0;
    }
    .quoteImg{
        display: none;
    }
    .quoteContent{
        flex: 1;
    }
    .quoteContent p{
        padding-right: 15px;
    }
    .discoverSavings{
        flex-direction: column;
    }
    .discoverSavings img{
        width: 100%;
    }
    .detailsContent h2 {
        font-weight: 600;
        font-size: 30px;
    }
    .detailsBtnDiv{
        flex-direction: column;
    }
    .detailsBtnDiv button{
        margin: 10px 0;
    }
    .apManage{
        margin: 30px 0;
    }
    .caseStudies .row{
        flex-direction: column;
    }
    .tab-pane  div{
        flex-direction: column;
    }
    .tab-pane .sec1AccessContent{
        padding: 0px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .faqs{
        margin: 0px !important;
    }
    .faqsHeading{
        text-align: center;
    }
    .faqs .accordion{
        width: 90%;
        margin: auto;
    }
    

}
